<% if signed_in? %>
    <div class="row">
      <div id="leftBarHome">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section style="width :400px">
          <%= render 'shared/question_form' %>
        </section>
      </div>

      <div id="rightBarHome">
        <h3>Question List</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to the iQuest</h1>
    <br>
      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>
<% end %>